# Importing Data

In [1]:
import pandas as pd


data = pd.read_csv("HCMcity_temperature.csv")
data.head()

,YEAR,MO,DY,WS50M,WS50M_RANGE,QV2M,PRECTOTCORR,T2M_RANGE,ALLSKY_SFC_SW_DWN,T2M,ALLSKY_KT,ALLSKY_SFC_LW_DWN,WS2M,ALLSKY_SFC_PAR_TOT,LOC
0,1990,1,1,6.53,4.41,13.98,0.00,9.92,5.35,26.59,0.62,408.8,3.73,110.9,BinhChanh
1,1990,1,2,7.48,2.47,14.22,0.00,9.39,5.70,26.22,0.66,397.7,4.29,117.0,BinhChanh
2,1990,1,3,8.38,2.69,14.16,0.04,10.54,5.82,26.49,0.68,395.4,4.76,118.7,BinhChanh
3,1990,1,4,8.09,3.31,14.10,0.18,10.70,5.41,26.51,0.63,415.9,4.55,112.1,BinhChanh
4,1990,1,5,5.66,6.95,13.06,0.00,11.59,5.65,26.86,0.66,410.8,3.07,117.4,BinhChanh

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216575 entries, 0 to 216574
Data columns (total 15 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   YEAR                216575 non-null  int64
 1   MO                  216575 non-null  int64
 2   DY                  216575 non-null  int64
 3   WS50M               216575 non-null  float64
 4   WS50M_RANGE         216575 non-null  float64
 5   QV2M                216575 non-null  float64
 6   PRECTOTCORR         216575 non-null  float64
 7   T2M_RANGE           216575 non-null  float64
 8   ALLSKY_SFC_SW_DWN   216575 non-null  float64
 9   T2M                 216575 non-null  float64
 10  ALLSKY_KT           216575 non-null  float64
 11  ALLSKY_SFC_LW_DWN   216575 non-null  float64
 12  WS2M                216575 non-null  float64
 13  ALLSKY_SFC_PAR_TOT  216575 non-null  float64
 14  LOC                 216575 non-null  object
dtypes: float64(11), int64(3), object(1)
memory usage: 24.8+ MB

In [3]:
data_model = data[data['LOC'] == 'ThuDuc']

In [4]:
data_model = data_model[['WS50M', 'WS50M_RANGE', 'QV2M', 'PRECTOTCORR',
'T2M_RANGE', 'ALLSKY_SFC_SW_DWN', 'T2M', 'ALLSKY_KT',
'ALLSKY_SFC_LW_DWN', 'WS2M', 'ALLSKY_SFC_PAR_TOT', 'LOC']]

In [5]:
data_model.head()

,WS50M,WS50M_RANGE,QV2M,PRECTOTCORR,T2M_RANGE,ALLSKY_SFC_SW_DWN,T2M,ALLSKY_KT,ALLSKY_SFC_LW_DWN,WS2M,ALLSKY_SFC_PAR_TOT,LOC
207483,4.02,8.31,13.00,0.00,13.52,5.35,27.12,0.62,408.8,1.95,110.9,ThuDuc
207484,4.64,7.42,12.82,0.00,15.11,5.70,26.86,0.66,397.7,2.18,117.0,ThuDuc
207485,3.78,6.87,12.51,0.03,15.03,5.82,27.34,0.68,395.4,1.76,118.7,ThuDuc
207486,3.75,6.32,12.02,0.04,14.61,5.41,27.55,0.63,415.9,1.70,112.1,ThuDuc
207487,3.55,6.11,11.60,0.00,13.82,5.65,27.26,0.66,410.8,1.56,117.4,ThuDuc

# Creating X and Y data frame for Training and Testing Purpose

In [6]:
from sklearn.model_selection import train_test_split

X = data_model.drop(['T2M','LOC'], axis = 1)
X.head()

,WS50M,WS50M_RANGE,QV2M,PRECTOTCORR,T2M_RANGE,ALLSKY_SFC_SW_DWN,ALLSKY_KT,ALLSKY_SFC_LW_DWN,WS2M,ALLSKY_SFC_PAR_TOT
207483,4.02,8.31,13.00,0.00,13.52,5.35,0.62,408.8,1.95,110.9
207484,4.64,7.42,12.82,0.00,15.11,5.70,0.66,397.7,2.18,117.0
207485,3.78,6.87,12.51,0.03,15.03,5.82,0.68,395.4,1.76,118.7
207486,3.75,6.32,12.02,0.04,14.61,5.41,0.63,415.9,1.70,112.1
207487,3.55,6.11,11.60,0.00,13.82,5.65,0.66,410.8,1.56,117.4

In [7]:
Y = data_model['T2M']
Y.head()

207483    27.12
207484    26.86
207485    27.34
207486    27.55
207487    27.26
Name: T2M, dtype: float64

In [8]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X.iloc[:, :5] = sc.fit_transform(X.iloc[:, :5])

# Splitting dataset for Training and Testing Purpose

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, random_state=0)
print(X.shape, Y.shape)

(9092, 10) (9092,)

In [10]:
data_model.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9092 entries, 207483 to 216574
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   WS50M               9092 non-null   float64
 1   WS50M_RANGE         9092 non-null   float64
 2   QV2M                9092 non-null   float64
 3   PRECTOTCORR         9092 non-null   float64
 4   T2M_RANGE           9092 non-null   float64
 5   ALLSKY_SFC_SW_DWN   9092 non-null   float64
 6   T2M                 9092 non-null   float64
 7   ALLSKY_KT           9092 non-null   float64
 8   ALLSKY_SFC_LW_DWN   9092 non-null   float64
 9   WS2M                9092 non-null   float64
 10  ALLSKY_SFC_PAR_TOT  9092 non-null   float64
 11  LOC                 9092 non-null   object
dtypes: float64(11), object(1)
memory usage: 923.4+ KB

# Modeling

## Linear Regression Model

In [11]:
from sklearn.linear_model import LinearRegression
lreg = LinearRegression()
lreg.fit(X_train, y_train)

LinearRegression()

## Support Vector Regression

In [12]:
from sklearn.svm import SVR
svm_rbf = SVR(C = 1000, gamma = 0.001, kernel = 'rbf') 
svm_rbf.fit(X_train, y_train)

SVR(C=1000, gamma=0.001)

## Random Forest Regression Model

In [13]:
from sklearn.ensemble import RandomForestRegressor
rf= RandomForestRegressor(bootstrap=False, max_depth=None, max_features='sqrt', 
                            min_samples_leaf=1, min_samples_split=10, n_estimators=150, random_state=0)
rf.fit(X_train, y_train)

RandomForestRegressor(bootstrap=False, max_features='sqrt',
                      min_samples_split=10, n_estimators=150, random_state=0)

# Test model

In [14]:
X_test.head()

,WS50M,WS50M_RANGE,QV2M,PRECTOTCORR,T2M_RANGE,ALLSKY_SFC_SW_DWN,ALLSKY_KT,ALLSKY_SFC_LW_DWN,WS2M,ALLSKY_SFC_PAR_TOT
207704,1.066814,-1.113564,0.972635,2.236090,-0.996759,4.51,0.47,433.70,2.55,97.20
213442,-0.111058,-1.138538,1.026843,1.853751,-1.304957,5.13,0.50,425.17,1.79,102.05
207637,2.055645,-0.095871,0.421521,1.452852,-1.185268,5.32,0.52,434.90,3.34,114.40
213224,-0.460058,-1.257165,1.162363,-0.447708,-1.173299,5.30,0.52,421.81,1.45,104.24
208703,0.085254,1.777184,-2.063009,-0.677854,1.636383,5.37,0.53,432.60,2.54,111.00

In [15]:
y_test.head()

207704    26.37
213442    27.23
207637    25.43
213224    26.44
208703    29.20
Name: T2M, dtype: float64

In [16]:
X_test_demo = X_test.iloc[5:39,:]
Y_test_demo = y_test.iloc[5:39]

In [17]:
lpred = lreg.predict(X_test_demo)
svm_pred = svm_rbf.predict(X_test_demo)
rf_pred=rf.predict(X_test_demo)

In [18]:
df_result = pd.DataFrame({'Y_test_TRUE': Y_test_demo,'LinearRegression':lpred, 'SVM':svm_pred, 'RandomForest':rf_pred})
df_result

        Y_test_TRUE  LinearRegression        SVM  RandomForest
207867        31.72         30.995005  31.639538     31.095953
214054        27.17         27.235893  26.988449     27.255259
210482        29.23         29.284246  29.803912     30.353897
207506        28.37         26.087044  27.111910     28.325052
208259        26.06         26.621618  26.026692     26.026370
213060        29.58         30.061557  29.656229     29.480275
208080        25.34         24.786185  24.982096     25.213811
211109        27.00         27.322249  27.502339     27.378154
210059        26.71         26.564831  26.708792     27.094855
213090        27.58         27.998199  28.041938     27.972612
209248        24.46         24.544405  25.242577     25.540626
209460        26.65         26.675771  26.556516     26.771614
208766        28.50         27.928580  27.835463     27.313384
214102        27.08         27.036169  27.002855     26.993203
213590        25.34         25.523530  25.095357     25.368937
211996        26.12         26.363563  26.419116     26.260394
209174        26.39         26.899054  27.109054     26.942049
214609        30.93         28.845532  29.008539     28.488170
209768        25.97         26.536909  26.431859     27.467045
209655        30.51         29.643383  29.322123     29.959869
210123        24.89         25.652686  25.624300     26.306294
207945        26.91         27.563941  27.148961     27.162406
209425        26.03         26.336183  25.777242     26.270343
207501        28.76         26.249764  27.365052     28.010717
215349        25.45         25.603108  25.925337     25.777687
209485        26.68         27.597441  27.445784     27.345345
215762        29.82         29.477632  29.393630     29.483473
207725        25.47         25.524686  25.340264     25.748610
209440        26.10         26.185014  26.119722     26.477841
210566        25.45         25.547603  25.347665     25.619396
209383        27.54         27.585735  27.337605     27.738152
209173        25.80         25.950295  25.763033     26.146501
214299        29.90         29.855347  29.817187     30.150054
211604        29.48         30.680818  30.167537     29.624258